// -------------------------------------
//   Settings
// -------------------------------------
// ----- @Font-Face Declarations, Variables
// -------------------------------------

// -------------------------------------
//   @font-face
// -------------------------------------

// Add fonts to project as needed in the following format -
// 'font-name': 'font-folder'

// $fonts: (
//   'font-name': 'font-folder',
//   'font-name-two': 'font-folder-two'
// );

// @each $font-name, $font-folder in $fonts {
//   @font-face {
//     font-family: #{$font-name};
//     src: url('path/to/fonts/#{$font-folder}/#{$font-name}.eot?#iefix') format('embedded-opentype'),
//          url('path/to/fonts/#{$font-folder}/#{$font-name}.woff') format('woff'),
//          url('path/to/fonts/#{$font-folder}/#{$font-name}.ttf') format('truetype'),
//          url('path/to/fonts/#{$font-folder}/#{$font-name}.svg##{$font-name}') format('svg');
//   }
// }

@font-face {
    font-family: 'socicon';
    src: url('../../fonts/socicon/socicon-webfont.eot');
    src: url('../../fonts/socicon/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/socicon/socicon-webfont.woff') format('woff'),
         url('../../fonts/socicon/socicon-webfont.ttf') format('truetype'),
         url('../../fonts/socicon/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothamBold';
    src: url('../../fonts/gotham-bold/gothambold1.eot');
    src: url('../../fonts/gotham-bold/gothambold1.ttf') format('embedded-opentype'),
         url('../../fonts/gotham-bold/gothambold1.woff') format('woff'),
         url('../../fonts/gotham-bold/gothambold1.ttf') format('truetype'),
         url('../../fonts/gotham-bold/gothambold1.svg#gothambold1') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neutratext';
    src: url('../../fonts/neutratext/neutratext-book.eot');
    src: url('../../fonts/neutratext/neutratext-book.ttf') format('embedded-opentype'),
         url('../../fonts/neutratext/neutratext-book.woff') format('woff'),
         url('../../fonts/neutratext/neutratext-book.ttf') format('truetype'),
         url('../../fonts/neutratext/neutratext-book.svg#gothambold1') format('svg');
    font-weight: normal;
    font-style: normal;
}

// -------------------------------------
//   Variables
// -------------------------------------

// Colors
$blue: #477DCA;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

$muteAqua: #1abc9c;
$aqua: #16a085;
$muteGreen: #2ecc71;
$green: #27ae60;
$muteBlue: #3498db;
$blue: #2980b9;
$mutePurple: #9b59b6;
$purple: #8e44ad;
$muteNavy: #34495e;
$navy: #2c3e50;
$yellow: #f1c40f;
$orange: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;
$brightRed: #e74c3c;
$deepRed: #c0392b;
$white: #ffffff;
$clouds: #ecf0f1;
$cream: #fafafa;
$silver: #bdc3c7;
$muteGrey: #95a5a6;
$grey: #7f8c8d;
$charcoal: #444444;
$black: #000000;
